<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>구매 내역</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link th:href="@{/css/customize.css}" type="text/css" rel="stylesheet"/>

</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kakao Mall</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="productList">상품 목록</a></li>
            <li><a href="#">구매 상품 조회</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active" id="login"><a href="loginForm">로그인<span class="sr-only">(current)</span></a></li>
            <li class="active" id="logout"><a href="logout">로그아웃<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <p style="text-align: center;">
		<img th:src="@{/img/상품리스트.jpg}" alt="이미지 준비중 입니다."/>
	</p>

    <table style="margin-left: auto; margin-right: auto; width: 65%;">
    	<tr>
    		<th>제품 번호</th>
    		<th>구매 개수</th>
    		<th>전체 구매 금액</th>
    	</tr>
        <tr th:each="sale : ${sales}" style="cursor:pointer;">
       		<td th:text="${sale.productId}" ></td>
       		<td th:text="${sale.saleNum}" ></td>
            <td th:text="${sale.sumPrice}"></td>
        </tr>
    </table>
  
    <script th:inline="javascript">
	    var loginFlag = [[${login}]];
	    var login = document.getElementById("login");
	    var logout = document.getElementById("logout");
	    if(loginFlag !=null){
	  	    login.style.display = 'none';
  		    logout.style.display = 'block';
	    }
	    else{
	 	    login.style.display = 'block';
		    logout.style.display = 'none';
	    }
    </script>
    
</body>
</html>